* {
    font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
}

div.outer {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

#inner1 {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    width: 688px;
    box-sizing: border-box;
}

#inner2 {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    width: 300px;
    box-sizing: border-box;
    margin-left: 100px;
}

div.main_card {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    cursor: not-allowed;
}

div.gift-info {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    display: flex;
    position: relative;
}

div.gift-info-desc {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    margin: 12px 0 0 20px;
}

p.price {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    margin-top: 25px;
}

div.row-type03 {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #eeeeee;
}

div.row-type04 {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    display: flex;
    align-items: center;
}

h4 {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    color: #222;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    width: 130px;
}

p.form-type01 {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    width: 600px;
    text-align: right;
    margin: 0;
}

p.form-type01>span {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    padding-right: 10px;
}

em.fc-01 {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-style: normal;
    color: #ec2028;
}

#giftishowPointChk {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;
    color: #222;
    position: relative;
    display: inline-block;
    min-width: 100px;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    margin: 0 0 0 4px;
}

.section_title {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section_content {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.simple_payment {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, AppleSDGothicNeo-Regular, NanumBarunGothic, NanumGothic, 나눔고딕, Segoe UI, Helveica, Arial, Malgun Gothic, Dotum, sans-serif;
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h4.method_title {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 16px 0 13px;
    display: flex;
    align-items: center;
}

div.main_title {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    letter-spacing: -.15px;
    font-weight: 400;
}

span.sub_title {
    box-sizing: border-box;
    padding-left: 5px;
    font-size: 12px;
    letter-spacing: -.06px;
    font-weight: 400;
    color: rgba(34, 34, 34, .5);
}

div.card_list {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.main_card {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    cursor: not-allowed;
}

a.regist_link {
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 12px;
    height: 62px;
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    font-size: 12px;
    letter-spacing: -.21px;
    color: rgba(34, 34, 34, .5);
}

div.other_card {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: -15px;
    padding-top: 15px;
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    border-top: 0 solid #ebebeb;
    border-radius: 0 0 10px 10px;
    display: none;
}

div.general_payment {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 7px;
}

h4.method_title {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 16px 0 13px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}


div.pay_method {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}


div.pay_box {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 60px;
    height: 100%;
    padding: 7px 7px 8px 11px;
    border-radius: 10px;
    background: #fafafa;
    border: 1px solid #ebebeb;
    color: rgba(34, 34, 34, .5);
}

img.pay_img {
    color: rgba(34, 34, 34, .5);
    box-sizing: border-box;
    border: 0;
    vertical-align: top;
    margin-left: auto;
    width: 40px;
    height: 40px;
}

p.main_title {
    color: rgba(34, 34, 34, .5);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    letter-spacing: -.21px;
}

.pay_item {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex-basis: calc(50% - 3px);
    padding-top: 0;
}

div.pay_benefit {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h5.benefit_title {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 19px 0 7px;
    border-bottom: 1px solid rgba(34, 34, 34, .05);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .29px;
}

ul.benefit_list {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

li.benefit_item {
    color: #222;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    display: flex;
    margin-top: 7px;
    margin-right: 4px;
    padding: 4px 0;
    line-height: 17px;
}

img.benefit_img {
    color: #222;
    list-style: none;
    line-height: 17px;
    box-sizing: border-box;
    border: 0;
    vertical-align: top;
    -webkit-user-drag: none;
    margin: 1px 0;
    width: 72px;
    height: 16px;
}

p.benefit_desc {
    list-style: none;
    line-height: 17px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-left: 14px;
    padding-right: 8px;
    color: rgba(34, 34, 34, .5);
    font-size: 12px;
    letter-spacing: .14px;
}

a.btn_more {
    list-style: none;
    line-height: 17px;
    box-sizing: border-box;
    font-size: 12px;
    letter-spacing: .14px;
    margin-left: auto;
    flex-shrink: 0;
    height: 16px;
    color: rgba(34, 34, 34, .4);
    text-decoration: underline;
}

div.row-type03 {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #eeeeee;
}

#point_box {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    display: flex;
    align-items: center;
}

#point_box_area {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    width: 600px;
    text-align: right;
    margin: 0;
}

#point_box>h4 {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    color: #222;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    width: 130px;
}

a.btn-type-c {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;
    color: #222;
    position: relative;
    display: inline-block;
    min-width: 100px;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    margin: 0 0 0 4px;
}

#giftishowUsePoint {
    word-wrap: break-word;
    word-break: break-all;
    vertical-align: middle;
    max-width: 500px;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 4px;
    outline: 0;
    -webkit-appearance: none;
    font-size: 16px;
    color: #222;
    width: 350px;
    text-align: right;
    margin-left: 4px;
}

div.row-type04 div.acco-single._acco {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
}

div.acco-tt {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    position: relative;
    padding: 0 0 30px;
    border-bottom: 1px solid #eeeeee;
}

div.cbWrap {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
}

label.buy_agree {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    position: relative;
    padding-left: 28px;
}

span.fc-01 {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #ec2028;
}

div.box-type01 {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
    display: flex;
    flex-direction: column;
    height: 518px;
    padding: 40px 32px 20px;
    background-color: #222;
    border-radius: 12px;
}

div.box-type01>h3 {
    letter-spacing: -0.5px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
}

table.t-head {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    color: #222;
    width: 100%;
    font-size: 14px;
}

table.t-head>tbody {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
}

table.t-head>tbody>tr {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
}

table.t-head>tbody>tr>th {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-weight: normal;
    height: auto;
    padding: 20px 0;
    border: none;
    border-bottom: 1px solid #333;
    color: #b6b6b6;
    text-align: left;
}

table.t-head>tbody>tr>td {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    height: auto;
    padding: 20px 0;
    border: none;
    border-bottom: 1px solid #333;
    color: #b6b6b6;
    text-align: right;
}

table.t-foot {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    color: #222;
    width: 100%;
    font-size: 14px;
    margin-top: auto;
}

#pay_method_name {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
}


table.t-foot>tbody>tr {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
}

table.t-foot>tbody>tr>th {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-weight: normal;
    height: auto;
    padding: 20px 0;
    color: #b6b6b6;
    text-align: left;
    border: none;
}

table.t-foot>tbody>tr>td {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    height: auto;
    padding: 20px 0;
    color: #b6b6b6;
    text-align: right;
    border: none;
}

.btn-type02 {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    text-decoration: none;
    cursor: pointer;
    display: block;
    height: 68px;
    line-height: 68px;
    margin-top: 20px;
    border-radius: 12px;
    background: #ec2028;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

table.t-foot>tfoot {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
}

table.t-foot>tfoot>tr {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    color: #222;
}

table.t-foot>tfoot>tr>th {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-weight: normal;
    height: auto;
    padding: 20px 0;
    color: #b6b6b6;
    text-align: left;
    border: none;
    border-top: 1px solid #fff;
}

table.t-foot>tfoot>tr>td {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    height: auto;
    padding: 20px 0;
    color: #b6b6b6;
    text-align: right;
    border: none;
    border-top: 1px solid #fff;
}

#final_price {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: right;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 28px;
    color: #ec2028;
    vertical-align: middle;
}

#pg_name {
    letter-spacing: -0.5px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    outline: 0;
    font-size: 100%;
    height: auto;
    padding: 20px 0;
    color: #b6b6b6;
    text-align: right;
    border: none;
}

.pay_box.clicked {
    border-color: red;
}


/* 민성 css */

    .deco-list li img{
		width: 100%;
		box-sizing: border-box;
	}
	
	.sample img {
    width: 100%;
	}
	
    div.paymain{
        letter-spacing: -0.5px;
        line-height: 1.6;
        color: #666;
        word-wrap: break-word;
        word-break: break-all;
        font-family: '돋움','Helvetica','Tahoma',dotum,sans-serif,'Malgun Gothic';
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
     }
     div.new-order{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        background: transparent;
        padding-bottom: 140px;
        color: #222;
        font-size: 16px;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
     }
     div.subcontents{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        position: relative;
        width: 1040px;
        margin: 0 auto;
        color: #222;
     }
     h1{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        padding: 0;
        border: 0;
        outline: 0;
        background: transparent;
        color: #222;
        margin: 80px 0;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
     }
     h2{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        padding: 0;
        border: 0;
        outline: 0;
        background: transparent;
        color: #222;
        margin: 80px 0 30px;
        padding-bottom: 20px;
        border-bottom: 2px solid #222;
        font-size: 26px;
        font-weight: bold;
     }
     div.col-type01{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
        display: flex;
        justify-content: space-between;
     }
     div.theme_all{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
        width: 688px;
        box-sizing: border-box;
     }
     div.theme_all>.theme{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
     }
     div.head-tab{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
        position: relative;
     }
     div.head-tab>h3{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        background: transparent;
        color: #222;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
     }
     div.head-tab>ul{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        list-style: none;
        color: #222;
        position: absolute;
        top: 0;
        right: 0;
     }
     div.head-tab>ul>li{
        letter-spacing: -0.5px;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        line-height: 100%;
        color: #222;
        float: left;
        margin-left: 9px;
     }
     div.head-tab>ul>li>a{
        letter-spacing: -0.5px;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        list-style: none;
        font-size: 100%;
        text-decoration: none;
        cursor: pointer;
        color: #222;
        display: block;
        padding: 6px 12px 4px;
        font-weight: bold;
        border-radius: 16px;
        line-height: 22px;
     }
     div.row-type01{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
        margin-bottom: 40px;
     }
     div.tabArea{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
        display: none;
     }
     div.col-type02{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
        display: flex;
        justify-content: space-between;
     }
     div.banner_choice{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
        width: 421px;
        box-sizing: border-box;
     }
     div.banner_choice>h4{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        background: transparent;
        color: #222;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: bold;
     }
     div.banner_choice>.scrollBox{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        overflow-y: scroll;
        border: 1px solid #ececec;
        color: #222;
        height: 253px;
     }
     div.banner_choice>.scrollBox>.deco-list{
        letter-spacing: -0.5px;
	    line-height: 1.6;
	    word-wrap: break-word;
	    word-break: break-all;
	    font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
	    margin: 0;
	    padding: 0;
	    border: 0;
	    outline: 0;
	    font-size: 100%;
	    background: transparent;
	    overflow: hidden;
	    width: 100%;
	    color: #222;
     }
     div.banner_choice>.scrollBox>.deco-list>ul{
	 	letter-spacing: -0.5px;
	    line-height: 1.6;
	    word-wrap: break-word;
	    word-break: break-all;
	    font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
	    border: 0;
	    outline: 0;
	    font-size: 100%;
	    background: transparent;
	    list-style: none;
	    color: #222;
	    margin: 0;
	    display: grid;
	    grid-template-columns: repeat(3, 1fr);
	    gap: 12px;
	    padding: 12px;
     }
     div.banner_choice>.scrollBox>.deco-list>ul>li{
            letter-spacing: -0.5px;
		    word-wrap: break-word;
		    word-break: break-all;
		    font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
		    list-style: none;
		    padding: 0;
		    border: 0;
		    outline: 0;
		    font-size: 100%;
		    background: transparent;
		    line-height: 100%;
		    color: #222;
		    float: left;
		    position: relative;
		    box-sizing: border-box;
		    width: 100%;
		    margin: 0;
     }
     div.banner_choice>.scrollBox>.deco-list>ul>img{
         	letter-spacing: -0.5px;
		    word-wrap: break-word;
		    word-break: break-all;
		    font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
		    list-style: none;
		    line-height: 100%;
		    margin: 0;
		    padding: 0;
		    outline: 0;
		    font-size: 100%;
		    background: transparent;
		    vertical-align: middle;
		    color: #222;
		    width: 100%;
		    box-sizing: border-box;
		    border: none;
     }
        .deco-list .btnSel {
            letter-spacing: -0.5px;
		    word-wrap: break-word;
		    word-break: break-all;
		    font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
		    list-style: none;
		    font-size: 100%;
		    line-height: 100%;
		    text-decoration: none;
		    cursor: pointer;
		    color: #222;
		    display: block;
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
        }
        .a11y-hidden {
            overflow: hidden;
            position: absolute;
            clip: rect(0 0 0 0);
            clip: rect(0,0,0,0);
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
        }
        .new-order h4 {
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: bold;
        }
        .card_choice {
            width: 241px;
            box-sizing: border-box;
        }
        .card_choice>.scrollBox{
            letter-spacing: -0.5px;
            line-height: 1.6;
            word-wrap: break-word;
            word-break: break-all;
            font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
            margin: 0;
            padding: 0;
            outline: 0;
            font-size: 100%;
            background: transparent;
            overflow-y: scroll;
            border: 1px solid #ececec;
            color: #222;
            height: 253px;
        }
        .card_choice>.scrollBox>.deco-list{
            letter-spacing: -0.5px;
            line-height: 1.6;
            word-wrap: break-word;
            word-break: break-all;
            font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            background: transparent;
            overflow: hidden;
            width: 100%;
            color: #222;
        }
        .card_choice>.scrollBox>.deco-list>ul{
            letter-spacing: -0.5px;
            line-height: 1.6;
            word-wrap: break-word;
            word-break: break-all;
            font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
            border: 0;
            outline: 0;
            font-size: 100%;
            background: transparent;
            list-style: none;
            color: #222;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 12px;
            padding: 12px;
        }
        .card_choice>.scrollBox>.deco-list>ul>li{
            letter-spacing: -0.5px;
            word-wrap: break-word;
            word-break: break-all;
            font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
            list-style: none;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            background: transparent;
            line-height: 100%;
            color: #222;
            float: left;
            position: relative;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
        }
        .card_choice>.scrollBox>.deco-list>ul>li>img{
            letter-spacing: -0.5px;
            word-wrap: break-word;
            word-break: break-all;
            font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
            list-style: none;
            line-height: 100%;
            margin: 0;
            padding: 0;
            outline: 0;
            font-size: 100%;
            background: transparent;
            vertical-align: middle;
            color: #222;
            width: 100%;
            box-sizing: border-box;
            border: none;
        }
        .card_choice>.scrollBox>.deco-list>ul>li>a{
            letter-spacing: -0.5px;
            word-wrap: break-word;
            word-break: break-all;
            font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
            list-style: none;
            font-size: 100%;
            line-height: 100%;
            text-decoration: none;
            cursor: pointer;
            color: #222;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .a11y-hidden {
            overflow: hidden;
            position: absolute;
            clip: rect(0 0 0 0);
            clip: rect(0,0,0,0);
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
        }

        .head-tab{
            letter-spacing: -0.5px;
            line-height: 1.6;
            word-wrap: break-word;
            word-break: break-all;
            font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            background: transparent;
            color: #222;
            position: relative;
        }
        .head-tab>h3{
            letter-spacing: -0.5px;
            line-height: 1.6;
            word-wrap: break-word;
            word-break: break-all;
            font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            background: transparent;
            color: #222;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
        }
       .head-tab>ul{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        list-style: none;
        color: #222;
        position: absolute;
        top: 0;
        right: 0;
       }
       .head-tab>ul>li{
        letter-spacing: -0.5px;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        line-height: 100%;
        color: #222;
        float: left;
        margin-left: 9px;
       }
       .msg-area{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
       }
       .msg-area>#mms_send_msg{
        word-break: break-all;
        overflow-y: auto;
        text-align: left;
        border: 1px solid #cfcfcf;
        resize: none;
        line-height: 1.5;
        color: #222;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        width: 100%;
        height: 120px;
        padding: 20px;
        box-sizing: border-box;
        outline: none;
        border-color: #eeeeee;
        font-size: 16px;
       }
       .sample{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        color: #222;
        padding: 20px 8px 8px;
        background: #222;
        border-radius: 12px;
        width: 300px;
        box-sizing: border-box;
       }
       .sample>.inner{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        display: block;
        color: #222;
        overflow-y: auto;
        max-height: 565px;
        padding: 20px;
        background: #f6f6f6;
        border-radius: 4px;
       }
       .sample>.inner>.imgBox{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        color: #222;
        margin-bottom: 20px;
        background: #fff;
       }
       .imgBox>.topImg{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
       }
       .imgBox>.topImg>img{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        border: 0;
        vertical-align: middle;
        color: #222;
        width: 100%;
       }

       .imgBox>.pin{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        padding: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
        margin: 5px;
        border: 1px solid #eeeeee;
       }
       .imgBox>.pin>.col-half{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
       }
       .col-half>.giftImg{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
        float: left;
        width: 50%;
       }
       .col-half>.previewCardImg{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
        float: left;
        width: 50%;
       }
       .bacord{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        color: #222;
       }
       .bacord>img{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
        border: 0;
        vertical-align: middle;
        color: #222;
        width: 100%;
       }
       #msg_sample{
        letter-spacing: -0.5px;
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        background: transparent;
        color: #222;
        min-height: 173px;
        white-space: pre-wrap;
        font-size: 12px;
       }
       
       label {
		  font-size: 20px;
		  line-height: 2rem;
		  padding: 0.2em 0.4em;
		}
		
		span {
		  vertical-align: middle;
		}
		
		[type="radio"] {
		  vertical-align: middle;
		}
		
		[type="radio"] {
		  vertical-align: middle;
		  appearance: none;
		}
		
		[type="radio"] {
		  vertical-align: middle;
		  appearance: none;
		  border: max(2px, 0.1em) solid gray;
		  border-radius: 50%;
		  width: 1.25em;
		  height: 1.25em;
		}
		
		[type="radio"]:checked {
		  border: 0.4em solid tomato;
		}
		
		[type="radio"]:focus-visible {
		  outline-offset: max(2px, 0.1em);
		  outline: max(2px, 0.1em) dotted tomato;
		}
		
		[type="radio"]:hover {
		  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
		  cursor: pointer;
		}
		
		[type="radio"] {
		  vertical-align: middle;
		  appearance: none;
		  border: max(2px, 0.1em) solid gray;
		  border-radius: 50%;
		  width: 1.25em;
		  height: 1.25em;
		  transition: border 0.3s ease-in-out;
		}
		
		/* .bannerImg{
			border: 1px solid;
			width: 100px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
		} */
		
		.bannerImg.clicked {
        border: 2px solid black;
     	}
     	
     	/* .cardImg:active{
     	border: 2px solid black;
     	} */
     	/* .cardImg.clicked {
        border: 2px solid black;
     	} */
     	