<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="bit.data.dto.ProductDto" alias="productDto"/>
		<typeAlias type="bit.data.dto.OrderDto" alias="orderDto"/>
		<typeAlias type="bit.data.dto.OrderDetailDto" alias="orderDetailDto"/>
		<typeAlias type="bit.data.dto.PaymentDto" alias="paymentDto"/>
	</typeAliases>
</configuration>