<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.data.dao.BrandDao">
	<select id="getAllBrand" resultType="SellerDto">
		SELECT companyName,description,brandphoto FROM seller order by sort desc;
	</select>

	<select id="selectBrandTheme" parameterType="String" resultType="SellerDto">
		SELECT companyName,description,brandphoto FROM jogong.seller where sort=#{sort};
	</select>
	
	<select id="selectBrandName" parameterType="String" resultType="SellerDto">
		SELECT companyName,description,brandphoto FROM jogong.seller where companyName like concat('%',#{name},'%')
	</select>
	
</mapper>







