<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.GiftDao">

	<!-- 받은 선물함 조회  -->
	<select id="getSendSearch" parameterType="int" resultType="orderDto">
		select o.banner, o.orderDate, o.hp, o.postalcode, o.deliveryAddress,
		p.name, p.thumbnailImageUrl, p.brand, u.nickname, u.profileImage, o.banner, o.orderDate
		from  jogong.order as o left join user as u on o.friendNum=u.num 
		left join product as p on o.productNum = p.num
		where friendNum=#{num};
	</select>

	<!-- 보낸 선물함 조회  -->
	<select id="getReceiveSearch" parameterType="int" resultType="orderDto">
		select o.banner, o.orderDate, 
		p.name, p.thumbnailImageUrl, p.brand, u.nickname, u.profileImage,
		from  jogong.order as o left join user as u on o.userNum=u.num 
		left join product as p on o.productNum = p.num
		where userNum=#{num};
	</select>

</mapper>