<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.LoginDao">
	<!-- 로그인 -->
	<select id="loginIdPassCheck" parameterType="Map" resultType="int">
		select count(*) from user where email=#{loginid} and password=#{loginpass}
	</select>
	<!-- 로그인 후 아이디 및 사진 출력 -->
	<select id="getDataById" parameterType="String" resultType="userDto">
		select * from user where email=#{id}
	</select>
</mapper>	