<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.OrderDetailDao">
	<insert id="insertOrderDetail" parameterType="orderDetailDto">
		insert into orderDetail values (null,#{qty},#{messageCard},#{engrave},#{friendNum},#{userNum},#{productNum})
	</insert>
	<!-- 나에게 선물하기 --> 
	<insert id="insertSelfGift" parameterType="orderDetailDto">
		insert into orderDetail values (null,#{qty},#{messageCard},#{engrave},null,#{userNum},#{productNum})
	</insert>
</mapper>
