<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.OrderDao">
	<select id="getAllSearch">
		select * from Order_Test 
	</select>
	
	<insert id="insertOrder">
	      insert into Order_Test values (null,#{imp_uid},#{merchant_uid},#{name},#{amount},#{buyer_name},#{pg},#{pay_method},#{to_member_id},#{count},#{point},now(),#{messagecard},#{banner},#{message},#{addr},#{success})
	</insert>
</mapper>
