<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.data.dao.ProductDao">
	<select id="getWishlist" parameterType="int" resultType="productDto">
		select * from wishList where userNum=#{userNum};
	</select>
	<select id="selectProductByPrice" parameterType="int" resultType="productDto">
		select * from product <![CDATA[where price <= #{price}]]> order by price
	</select>
</mapper>