<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.ReviewDao">
	
	<!-- 리뷰 별점 -->
	<select id="reviewRating" parameterType="int" resultType="int">
		select ifnull(round(avg(rating),0),0) from review where productNum=#{num}
	</select>
	
	<select id="reviewRatingNum" parameterType="int" resultType="int">
		select ifnull(count(*),0) from review where productNum=#{num}
	</select>
	
	<!-- 리뷰페이지(review list page) -->
	<select id="getTotalCount" parameterType="Map" resultType="int">
		select count(*) from review 
		<if test="searchcolumn!=null and searchword!=null">
			where ${searchcolumn} like concat('%',#{searchword},'%')		
		</if>
	</select>
	
	<select id="getPagingList" parameterType="Map" resultType="reviewDto">   
		select p.name, p.thumbnailImageUrl, r.num, r.subject, r.content, r.rating, r.createdAt, r.reviewImageUrl, r.userNum, r.productNum from product p inner join review r on productNum = p.num
		<if test="searchcolumn!=null and searchword!=null">
			where ${searchcolumn} like concat('%',#{searchword},'%') 		
		</if>
		limit #{startnum}, #{perpage}
	</select>
	
	<!-- 상세페이지 -->
	<select id="getReviewByProduct" parameterType="int" resultType="reviewDto">
		select r.subject, r.content, r.rating, r.createdAt, r.publicOption, r.reviewImageUrl, r.productNum, r.userNum, p.name, u.nickname, u.profileImage 
		from review r inner join product p 
		on r.productNum = p.num 
		inner join jogong.user u 
		on u.num = r.userNum 
		where r.productNum = #{productNum}
	</select>
	
	<!-- 상세페이지 리뷰 수 -->
	<select id="getReviewCount" parameterType="int" resultType="int">
		select count(*) from review r inner join product p 
		on r.productNum = p.num 
		where r.productNum = #{productNum};
	</select>
	
	<!-- 마이페이지 작성한 리뷰목록 -->
	<select id="selectReviewByUser" parameterType="int" resultType="reviewDto">
		select p.name, p.thumbnailImageUrl, p.brand, r.num, r.productNum, r.subject, r.content, r.rating, r.createdAt, r.publicOption, r.tagNum, r.reviewImageUrl 
		from review r inner join product p 
		on r.productNum = p.num 
		where userNum=#{userNum}
	</select>
	
	<!-- 마이페이지 작성한 리뷰 갯수 -->
	<select id="selectReviewCount" parameterType="int" resultType="int">
		select count(*)
		from review r inner join product p 
		on r.productNum = p.num 
		where userNum=#{userNum}
	</select>
</mapper>


