<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.data.dao.UserFriendDao">
	<select id="getFriendlist" parameterType="int" resultType="userFriendDto">
		select * from userFriend where userNum=${userNum}
	</select>
</mapper>