<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.data.dao.WishlistDao">
	<select id="selectPublicWishlist" parameterType="int" resultType="wishlistDto">
		select 
		p.thumbnailImageUrl, p.name, p.price, 
		w.num, w.publicOption, w.userNum, w.productNum,
		u.nickname
		from wishlist w 
		inner join product p 
		on w.productNum = p.num 
		inner join jogong.user u
		on w.userNum = u.num
		where userNum=#{userNum} 
		and publicOption=1 order by w.num desc
	</select>
	<select id="selectPublicWishCount" parameterType="int" resultType="int">
		select 
		count(*)
		from wishlist 
		where userNum=#{userNum} 
		and publicOption=1
	</select>
	<insert id="insertWishlist" parameterType="wishlistDto">
		insert into wishlist (num, publicOption, userNum, productNum) values (null, #{publicOption}, #{userNum}, #{productNum})
	</insert>
	<select id="selectUserWishlist" parameterType="int" resultType="wishlistDto">
		select 
		p.thumbnailImageUrl, p.name, p.price, 
		w.num, w.publicOption, w.userNum, w.productNum,
		u.nickname
		from wishlist w 
		inner join product p 
		on w.productNum = p.num 
		inner join jogong.user u
		on w.userNum = u.num
		where userNum=#{userNum} order by w.num desc
	</select>
	<delete id="deleteWishlist" parameterType="int">
		delete from wishlist where num=#{num}
	</delete>
	<update  id="updateWishlist" parameterType="HashMap">
		update wishlist set publicOption=#{publicOption} where num=#{num}
	</update>
</mapper>  